html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: cornflowerblue;
  height: 100vh;
  margin: 0;
}

body h1 {
  text-align: center;
  text-transform: uppercase;
}

#calc-wrap {
  width: 400px;
  height: 450px;
  margin: auto;
  padding: 15px;
  background-color: gray;
}

#display {
  width: 360px;
  height: 100px;
  margin: 0 auto;
  color: black;
  font-size: 20px;
  text-align: right;
  background-color: green;
  border-style: none;
}

#num-btns {
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 180px;
  justify-content: space-evenly;
  align-items: center;
}

.num-btn {
  height: 50px;
  width: 70px;
  margin: 5px;
  padding: 12px;
  background-color: lightslategray;
  border: 1px solid black;
}

#op-btns {
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 180px;
  justify-content: space-evenly;
  align-items: center;
}

.op-btn {
  height: 50px;
  width: 70px;
  margin: 5px;
  padding: 12px;
  background-color: lightslategray;
  border: 1px solid black;
}

.lft-ovr {
  height: 50px;
  width: 70px;
  margin: 5px;
  padding: 12px;
  background-color: lightslategray;
  border: 1px solid black;
}

#clear {
  height: 50px;
  width: 70px;
  margin: 5px;
  padding: 12px;
  background-color: lightcoral;
  border: 1px solid black;
  border-style: none;
}
