html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: cornflowerblue;
  height: 100vh;
  margin: 0;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-family: "ZCOOL QingKe HuangYou";
  font-size: 4em;
  cursor: pointer;
  margin: 20px auto;
  width: 400px;
}

.header:active {
  transform: scale(0.96);
}

#calc-wrap {
  width: 400px;
  margin: auto;
  padding: 15px;
  background-color: gray;
  border-radius: 10px;
  border: 1px solid black;
}

.flip {
  transform: rotate(180deg);
  transition: 2s;
}

.display {
  width: 100%;
  color: black;
  font-size: 6em;
  padding: 0 10px 0 10px;
  text-align: right;
  background-color: green;
  border-radius: 10px;
  font-family: "ZCOOL QingKe HuangYou";
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 10px;
}

.button {
  height: 60px;
  background-color: lightslategray;
  border: 1px solid black;
  outline: none;
  font-size: 2em;
  border-radius: 10px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.96);
}

#clear {
  background-color: lightcoral;
}

#equals {
  background-color: royalblue;
  grid-area: 2 / 4 / 6;
  height: 100%;
}
